<div class="flex justify-evenly items-center h-2/3 py-10">
  <div>
    <a class="h-fit w-fit px-20 py-5 bg-blue-100 border border-blue-500 flex justify-center items-center rounded-xl hover:text-white hover:cursor-pointer hover:bg-blue-900 hover:ring-4" routerLink="/dashboard">
      <span>Dashboard</span>
    </a>
  </div>
  <div>
    <a class="h-fit w-fit px-20 py-5 bg-blue-100 border border-blue-500 flex justify-center items-center rounded-xl hover:text-white hover:cursor-pointer hover:bg-blue-900 hover:ring-4" routerLink="/reports/statistics">
      <span>Estadisticas</span>
    </a>
  </div>
</div>
<!-- <app-boards></app-boards> -->
<!-- <app-example-item></app-example-item> -->
<!-- <app-scroll></app-scroll> -->
<!-- <app-table></app-table> -->
