<div class="flex justify-evenly items-center h-2/3 my-2">
  <div>
    <a class="h-20 w-40 bg-blue-100 border border-blue-500 flex justify-center items-center rounded-lg my-10 hover:text-white hover:cursor-pointer hover:bg-blue-900 hover:ring-4" routerLink="/dashboard">
      <span>Dashboard</span>
    </a>
  </div>
  <div>
    <a class="h-20 w-40 bg-blue-100 border border-blue-500 flex justify-center items-center rounded-lg my-10 hover:text-white hover:cursor-pointer hover:bg-blue-900 hover:ring-4" routerLink="/dashboard">
      <span>Estadisticas</span>
    </a>
  </div>
</div>
<!-- <app-boards></app-boards> -->
<!-- <app-example-item></app-example-item> -->
<!-- <app-scroll></app-scroll> -->
<!-- <app-table></app-table> -->
