<div
  class="flex flex-col justify-center items-center bg-amber-700 rounded-xl overflow-y-auto overflow-x-hidden w-full md:h-full">
  <div class="relative p-2 bg-amber-800 rounded-lg shadow dark:bg-gray-800 sm:p-5 w-full max-w-2xl h-full md:h-auto">
    <div class="flex items-center justify-between border-b-2 border-amber-200 h-fit w-full pb-2 mb-2 sm:mb-3">
      <p class="m-3 font-semibold text-lg text-white mr-10">Eliminar factura</p>
      <button (click)="closeDialog()" class="hover:text-red-500 text-red-300 text-3xl m-3 rounded-md
      bg-transparent hover:bg-gray-200 p-1 ml-10 inline-flex items-center">
        <fa-icon [icon]="faCircleXmark"></fa-icon>
      </button>
    </div>
    <div class="flex-1">
      <div class="flex flex-row mt-3 h-96">
        <div class="flex-1 h-full w-full m-1 flex items-center mx-4">
          <div class="bg-yellow-100 py-3 px-1 sm:px-2 rounded-full">
            <div class="w-64 py-3 px-1 sm:px-2 h-fit
                              shadow-sm bg-white border border-red-50 text-gray-900 text-sm rounded-full block">
              <div class="text-red-800 text-center italic text-lg sm:mx-10">
                <strong>¿Le gustaría realizar esta eliminación?</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block border-t-2 border-yellow-50 p-2">
        <div class="flex justify-between items-center h-10 space-x-1 space-y-1 mt-1">
          <button (click)="closeDialog()" class="px-5 py-2.5 bg-gray-400 rounded-lg hover:bg-gray-500 hover:border-2 hover:border-white text-white hover:text-gray-300
                focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm w-full sm:w-auto text-center">
            Cancelar
          </button>
          <button type="submit" (click)="closeWithRes()" class="px-5 py-2.5 bg-blue-400 rounded-lg hover:bg-blue-500 hover:border-2 hover:border-white text-white hover:text-gray-300
                focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto text-center">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
