<div class="flex flex-col justify-between bg-amber-700 rounded-xl overflow-y-scroll">
  <div class="flex items-center h-fit justify-between border-b-2 border-amber-200 ">
    <p class="m-3 font-semibold text-lg text-white">Eliminar cliente</p>
    <button (click)="closeDialog()" class="hover:text-red-500 text-red-300 text-3xl m-3">
      <fa-icon [icon]="faCircleXmark"></fa-icon>
    </button>
  </div>
  <div class="h-fit">
    <div class="flex flex-col mx-2 md:mx-3 my-3 h-96">
        <div class="h-5/6 flex items-center">
          <div class="text-red-50 text-center italic text-lg">
            <strong>¿Le gustaría realizar esta eliminación?</strong>
          </div>
        </div>
        <div class="block border-t-2 border-yellow-50">
          <div class="flex justify-between items-center h-10 space-x-1 space-y-1 m-3">
            <button (click)="closeDialog()"
              class="px-5 py-2.5 bg-gray-400 rounded-lg hover:bg-gray-500 hover:border-2 hover:border-white text-white hover:text-gray-300
                focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm w-full sm:w-auto text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
              Cancelar
            </button>
            <button type="submit" (click)="closeWithRes()"
              class="px-5 py-2.5 bg-red-400 rounded-lg hover:bg-red-500 hover:border-2 hover:border-white text-white hover:text-gray-300
                focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm w-full sm:w-auto text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              Borrar
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
