<div class="items-center hidden md:flex p-1 ml-4">
  <ul class="flex items-center space-x-8 text-sm font-medium">
    <li>
      <a class="block py-2 px-3 text-white focus:ring-2 focus:ring-gray-50 rounded-lg" routerLink="/home">Home</a>
    </li>
    <li>
      <a class="block py-2 px-3 text-white focus:ring-2 focus:ring-gray-50 rounded-lg" routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
      <a class="block py-2 px-3 text-white focus:ring-2 focus:ring-gray-50 rounded-lg" routerLink="/reports/statistics">Estadisticas</a>
    </li>
    <li>
      <app-btn routerLink="/sales/list-sale" typeBtn="button" [color]="'light'">Agrega una venta</app-btn>
    </li>
  </ul>
</div>
