<div
  class="flex flex-col justify-center items-center bg-amber-700 rounded-xl overflow-y-auto overflow-x-hidden w-full h-fit max-h-screen">
  <div class="relative p-2 bg-amber-800 rounded-lg shadow dark:bg-gray-800 sm:p-5 w-full max-w-2xl h-fit md:h-auto">
    <div class="flex items-center justify-between border-b-2 border-amber-200 h-fit w-full pb-2 mb-2 sm:mb-3">
      <p class="m-3 font-semibold text-lg text-white mr-10">Agregar venta</p>
      <button (click)="closeDialog()" class="hover:text-red-500 text-red-300 text-3xl m-3 rounded-md
      bg-transparent hover:bg-gray-200 p-1 ml-10 inline-flex items-center">
        <fa-icon [icon]="faCircleXmark"></fa-icon>
      </button>
    </div>
    <div class="flex-1">
      <div class="flex flex-row mt-3 h-fit">
        <form [formGroup]="fGroup" class="flex flex-col justify-between mx-auto w-full m-1" action="#">
          <div class="flex-1 h-full w-full">

            <div
              class="relative z-0 w-full mb-3 py-3 px-1 sm:px-2 h-fit
                                                      shadow-sm bg-yellow-50 border border-yellow-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block">
              <input type="date" name="saleDate" id="saleDate" formControlName="saleDate"
                class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-700 peer rounded-b-md"
                placeholder=" " required autofocus />
              <!-- pattern="\d{4}-\d{2}-\d{2}" -->
              <label for="saleDate"
                class="block px-2 pt-3 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-2 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-emerald-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-2">
                Nueva Fecha</label>
              <div class="text-red-400 text-center italic text-sm"
                *ngIf="GetFormGroup['saleDate'].errors
                                                              && (GetFormGroup['saleDate'].dirty || GetFormGroup['saleDate'].touched)">
                <strong>Este campo es requerido</strong>
              </div>
            </div>

            <div
              class="relative z-30 w-full mb-3 py-2 px-1 sm:px-2 h-fit shadow-sm bg-yellow-50 border border-yellow-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block">
              <cdk-accordion>
                <cdk-accordion-item #accordionMenu1="cdkAccordionItem">
                  <button class="relative z-0 w-full py-1 flex justify-between items-center" type="button"
                    (click)="accordionMenu1.toggle()">
                    <input type="number" name="remissionNum" id="remissionNum" formControlName="remissionNum"
                      class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-700 peer rounded-b-md"
                      placeholder=" " required autofocus />
                    <label for="remissionNum"
                      class="block px-2 pt-3 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-emerald-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">
                      Nueva remision
                    </label>
                    <div class="p-3 rounded-full hover:bg-yellow-200">
                      <fa-icon [icon]="accordionMenu1.expanded ? faAngleUp: faAngleDown "></fa-icon>
                    </div>
                    <div class="text-red-400 text-center italic text-sm mx-2"
                      *ngIf="GetFormGroup['remissionNum'].errors && (GetFormGroup['remissionNum'].dirty || GetFormGroup['remissionNum'].touched)">
                      <strong>Este campo es requerido</strong>
                    </div>
                  </button>
                  <div [style.display]="accordionMenu1.expanded ? '': 'none' " class="relative">
                    <ul
                      class="p-2 border-2 border-t-0 border-gray-300 flex flex-col text-sm text-gray-700 absolute top-0 left-0 z-30 bg-yellow-50 w-full rounded-b-lg overflow-y-auto max-h-56 h-fit">
                      <li *ngFor="let remission of remissions">
                        <a class="block py-1 px-3 truncate hover:whitespace-normal hover:bg-gray-800 hover:text-white"
                          (click)="chooseRem(remission); accordionMenu1.expanded = false"><fa-icon
                            [icon]="faUser"></fa-icon>&nbsp;
                          <span>{{remission.remission}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div
              class="relative z-20 w-full mb-3 py-2 px-1 sm:px-2 h-fit shadow-sm bg-yellow-50 border border-yellow-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block">
              <cdk-accordion>
                <cdk-accordion-item #accordionMenu2="cdkAccordionItem">
                  <button class="relative z-0 w-full py-1 flex justify-between items-center" type="button"
                    (click)="accordionMenu2.toggle()">
                    <input type="text" name="clientName" id="clientName" formControlName="clientName"
                      class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-700 peer rounded-b-md"
                      placeholder=" " required autofocus />
                    <label for="clientName"
                      class="block px-2 pt-3 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-emerald-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">
                      Nuevo cliente
                    </label>
                    <div class="p-3 rounded-full hover:bg-yellow-200">
                      <fa-icon [icon]="accordionMenu2.expanded ? faAngleUp: faAngleDown"></fa-icon>
                    </div>
                    <div class="text-red-400 text-center italic text-sm mx-2"
                      *ngIf="GetFormGroup['clientName'].errors && (GetFormGroup['clientName'].dirty || GetFormGroup['clientName'].touched)">
                      <strong>Este campo es requerido</strong>
                    </div>
                  </button>
                  <div [style.display]="accordionMenu2.expanded ? '': 'none' " class="relative">
                    <ul
                      class="p-2 border-2 border-t-0 border-gray-300 flex flex-col text-sm text-gray-700 absolute top-0 left-0 z-20 bg-yellow-50 w-full rounded-b-lg overflow-y-auto max-h-56 h-fit">
                      <li *ngFor="let client of clients">
                        <a class="block py-1 px-3 truncate hover:whitespace-normal hover:bg-gray-800 hover:text-white"
                          (click)="chooseClient(client); accordionMenu2.expanded = false"><fa-icon
                            [icon]="faUser"></fa-icon>&nbsp;
                          {{client.clientName}}</a>
                      </li>
                    </ul>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div
              class="w-full mb-1 py-3 px-1 sm:px-2 h-fit shadow-sm bg-yellow-50 border border-yellow-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block">
              <div class="mb-2">
                <div class="inline-flex rounded-md shadow-sm m-1 p-1">
                  <button
                    [class]="selectedToggle === 'bill' ? ' inline-flex items-center px-4 py-2 text-sm font-medium bg-gray-800 text-white hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white' : 'text-gray-900 bg-transparent'"
                    (click)="selectToggle('bill')" class="px-4 py-2 border border-gray-900 rounded-l-lg">
                    Factura
                  </button>
                  <button
                    [class]="selectedToggle === 'remission' ? 'inline-flex items-center px-4 py-2 text-sm font-medium bg-gray-800 text-white hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white' : 'text-gray-900 bg-transparent'"
                    (click)="selectToggle('remission')" class="px-4 py-2 border border-gray-900 rounded-r-md">
                    Remisión
                  </button>
                </div>
              </div>
              <div
                class="relative z-10 w-full mb-3 py-2 px-1 sm:px-2 h-fit shadow-sm bg-yellow-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block">
                <cdk-accordion>
                  <cdk-accordion-item #accordionMenu3="cdkAccordionItem">
                    <button class="relative z-0 w-full py-1 flex justify-between items-center" type="button"
                      (click)="accordionMenu3.toggle()">
                      <input type="number" name="document" id="document" formControlName="document"
                        class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-700 peer rounded-b-md"
                        placeholder=" " required autofocus />
                      <label for="document"
                        class="block px-2 pt-3 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-emerald-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">
                        Nuevo documento
                      </label>
                      <div class="p-3 rounded-full hover:bg-yellow-200">
                        <fa-icon [icon]="accordionMenu3.expanded ? faAngleUp: faAngleDown "></fa-icon>
                      </div>
                      <div class="text-red-400 text-center italic text-sm mx-2"
                        *ngIf="GetFormGroup['document'].errors && (GetFormGroup['document'].dirty || GetFormGroup['document'].touched)">
                        <strong>Este campo es requerido</strong>
                      </div>
                    </button>
                    <div [style.display]="accordionMenu3.expanded ? '': 'none' " class="relative">
                      <ul
                        class="p-2 border-2 border-t-0 border-gray-300 flex flex-col text-sm text-gray-700 absolute top-0 left-0 z-20 bg-yellow-50 w-full rounded-b-lg overflow-y-auto max-h-56 h-fit">
                        <li *ngFor="let document of documents">
                          <a class="block py-1 px-3 truncate hover:whitespace-normal hover:bg-gray-800 hover:text-white"
                            (click)="chooseDocument(document); accordionMenu3.expanded = false"><fa-icon
                              [icon]="faUser"></fa-icon>&nbsp;
                            <span *ngIf="document.bill"> {{document.bill}}</span>
                            <span *ngIf="document.remission"> {{document.remission}}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </cdk-accordion-item>
                </cdk-accordion>
              </div>
            </div>

          </div>
          <div class="block border-t-2 border-yellow-50 p-2">
            <div class="flex justify-between items-center h-10 space-x-1 space-y-1 mt-1">
              <button (click)="closeDialog()" class="px-5 py-2.5 bg-gray-400 rounded-lg hover:bg-gray-500 hover:border-2 hover:border-white text-white hover:text-gray-300
                focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm w-full sm:w-auto text-center">
                Cancelar
              </button>
              <button type="submit" (click)="closeWithRes()" class="px-5 py-2.5 bg-blue-400 rounded-lg hover:bg-blue-500 hover:border-2 hover:border-white text-white hover:text-gray-300
                focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto text-center">
                Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
